*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.gradle
build/
gradle*
!gradle-plugins*
gradle-app.setting !gradlewrapper.jar
.gradletasknamecache
local.properties
gen